<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h1>Images of cats!</h1>
        <a href = '/tiger'><img src = '/images/eyes.jpg'></a>
        <a href = '/cuddles'><img src = '/images/omg.jpg'></a>
        <a href = '/puss'><img src = '/images/shrek.jpg'></a>
    </body>
</html>