<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h1>Hello World!</h1>

        <form action ='/submit' method='POST'>
            Name: <input type='text' name='name'><br>
            Favorite Language: <input type='text' name='lang'><br>
            Dojo: <input type='text' name='dojo'><br>
            <input type='submit' value="Submit!">
        </form>
    </body>
</html>